.logo {
      background: linear-gradient(to right, #663399, #e76ad2,#2f0fe6);
      color: white;
}

@media (max-width: 768px) {
  .sidebar {
    background-color:#5b71f0 ;
    color: white;
    backdrop-filter: blur(10px);
  }

  .search-container input {
    display: none; /* Hide input by default */
  }

  .search-container.expanded input {
    display: block; /* Show input when expanded */
  }
}



